/GeoLiteCity.dat
/config/!config.ini
/config/acl.ini
/www/bootstrap.php
/www/sandbox/
/www/img/tmp/
/logs/*.lo
.idea/
.idea/*/
*admin.xml
build.xml
phpunitbootstrap.php
version.ver
www/phpinfo.php
www/phpinfo.htm
/phplogs/

